<section id="resume">
{% for section in page.header.sections %}
    <div class="row {{ section.css_class }}">
        <div class="three columns header-col">
            <h1><span>{{ section.title }}</span></h1>
        </div>
        <div class="nine columns main-col">
{% for item in section.items %}
            <div class="row item">
                <div class="twelve columns">
{% if item.title %}
                    <h3>{{ item.title }}</h3>
                        <p class="name">
                            {{ item.name }} </br>
                            <div class="location">{{ item.location }} &bull; {{ item.date }}</div>
                        </p>
{% endif %}
{% if item.description %}
                        <p>
                            {{ item.description }}
                        </p>
{% endif %}
{% if item.profs %}
                        <table class="profs">
{% for prof in item.profs %}
                        <tr>
{% for thing in prof %}
                            <td>{{thing}}</td>
{% endfor %}
                        </tr>
{% endfor %}
                        </table>
{% endif %}
                </div>
            </div>
{% if item.buttons %}
            <div class="columns download">
{% for thing in item.buttons %}
                <a href="{{ thing.url }}" class="button {{ thing.class }}" target="_blank"><i class="fa fa-{{ thing.icon }}"></i>{{ thing.text }}</a>
{% endfor %}
            </div>
{% endif %}
{% endfor %}
        </div>
    </div>
{% endfor %}
</section>